html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font: 100 14px 'Roboto';
  }

  #app {
    width: 320px;
    height: 520px;
    position: relative;
  }

  #wrapper {
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #aaa;
  }
